packages:
  yum:
    xorg-x11-server-Xvfb: []
    wget: []

commands:
  01-setup-google-chrome:
    command: |
      sudo wget https://dl.google.com/linux/direct/google-chrome-stable_current_x86_64.rpm -O /tmp/google-chrome-stable.rpm
      sudo yum localinstall -y /tmp/google-chrome-stable.rpm

  02-setup-chromedriver:
    command: |
      sudo wget https://www.rpmfind.net/linux/fedora/linux/updates/40/Everything/x86_64/Packages/c/chromedriver-127.0.6533.88-2.fc40.x86_64.rpm -O /tmp/chromedriver-127.0.6533.88-2.fc40.x86_64.rpm
      sudo yum localinstall -y /tmp/chromedriver-127.0.6533.88-2.fc40.x86_64.rpm
      sudo chmod +x /usr/local/bin/chromedriver
