packages:
  yum:
    xorg-x11-server-Xvfb: []
    wget: []

commands:
  01-setup-google-chrome:
    command: |
      sudo wget https://dl.google.com/linux/direct/google-chrome-stable_current_x86_64.rpm -O /tmp/google-chrome-stable.rpm
      sudo yum localinstall -y /tmp/google-chrome-stable.rpm

  02-setup-chromedriver:
    command: |
      sudo wget https://chromedriver.storage.googleapis.com/114.0.5735.90/chromedriver_linux64.zip
      sudo unzip chromedriver_linux64.zip -d /usr/local/bin/
      sudo chmod +x /usr/local/bin/chromedriver
