packages:
  yum:
    google-chrome-stable: []
    libX11: []
    GConf2: []
    xorg-x11-server-Xvfb: []
    alsa-lib: []
    atk: []
    cups-libs: []
    gtk3: []
    nss: []
    xorg-x11-fonts: []
    xorg-x11-fonts-Type1: []
commands:
  01-setup-chromedriver:
    command: |
      sudo wget https://chromedriver.storage.googleapis.com/114.0.5735.90/chromedriver_linux64.zip
      sudo unzip chromedriver_linux64.zip -d /usr/local/bin/
      sudo chmod +x /usr/local/bin/chromedriver